*
{
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;
  }

body.fade-in {
  opacity: 1;
}
  
  .back-video
  {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    line-height: 100px;
    z-index: 100;
  }

.logo
{
  color: white;
  font-size: 25px;
  margin: auto;
}

  .container {
    display: block;
    width: 50%;
    margin: 150px auto 0 auto;
  }
  .row{
    display: inline-block;
  }
  .btn {
    margin: 25px;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 20%;
  }
  a{
    text-decoration: none;
  }
h2{
  color: white;
}
.simon
{
  background: url("simon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dice
{
  background: url("dice.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.drum
{
  background: url("drum.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ttt
{
  background: url("ttt.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}